In [1]:
conda install pandas-datareader

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\user\anaconda3

  added / updated specs:
    - pandas-datareader


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.10.3               |   py38haa95532_0         2.9 MB
    pandas-datareader-0.10.0   |     pyhd3eb1b0_0          71 KB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following NEW packages will be INSTALLED:

  pandas-datareader  pkgs/main/noarch::pandas-datareader-0.10.0-pyhd3eb1b0_0

The following packages will be UPDATED:

  conda                               4.10.1-py38haa95532_1 --> 4.10.3-py38haa95532_0



Downloading and Extracting Packages

pandas-datareader-0. | 71 KB     |            |   0%
pandas-datareader-0. | 71 KB     | ########9  |  90%
pandas-datareader-0. | 71 KB     | ########## | 100%

conda-4.10.3         | 2.9 MB    |            |   0%
conda-4.10.3         | 2.9 MB    | ##         |  21%
conda-4.10.3         | 2.9 MB    | ######4    |  65%
conda-4.10.3         | 2.9 MB    | ########## | 100%
conda-4.10.3         | 2.9 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [2]:
# https://finance.yahoo.com/
import pandas as pd
import numpy as np
from pandas_datareader import data

In [3]:
#samsung electronics
df = data.get_data_yahoo('005930.KS',"2020-01-01")

In [4]:
df.info()   #2020년 1월부터 2021년 7월

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 388 entries, 2020-01-02 to 2021-07-23
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       388 non-null    float64
 1   Low        388 non-null    float64
 2   Open       388 non-null    float64
 3   Close      388 non-null    float64
 4   Volume     388 non-null    float64
 5   Adj Close  388 non-null    float64
dtypes: float64(6)
memory usage: 21.2 KB

In [5]:
df.describe()

,High,Low,Open,Close,Volume,Adj Close
count,388.000000,388.000000,388.000000,388.000000,3.880000e+02,388.000000
mean,66999.226804,65643.170103,66302.061856,66290.206186,2.126576e+07,64868.813386
std,13561.933708,13462.337108,13476.552357,13484.758147,9.723028e+06,14354.976575
min,43550.000000,42300.000000,42600.000000,42500.000000,0.000000e+00,40449.824219
25%,55900.000000,54600.000000,55200.000000,55275.000000,1.495051e+07,52816.114258
50%,60900.000000,59850.000000,60600.000000,60400.000000,1.867483e+07,58354.087891
75%,81600.000000,80700.000000,81100.000000,81000.000000,2.500283e+07,81000.000000
max,96800.000000,89500.000000,90300.000000,91000.000000,9.030618e+07,90597.414062

In [7]:
df['Close'].max()

91000.0

In [8]:
df['Close'].min()

42500.0

In [9]:
df['Close'].mean()

66290.206185567

In [11]:
df.shape

(388, 6)

In [15]:
df[['Close','High']]

              Close     High
Date
2020-01-02  55200.0  56000.0
2020-01-03  55500.0  56600.0
2020-01-06  55500.0  55600.0
2020-01-07  55800.0  56400.0
2020-01-08  56800.0  57400.0
...             ...      ...
2021-07-19  79000.0  79200.0
2021-07-20  79000.0  79000.0
2021-07-21  78500.0  79100.0
2021-07-22  79700.0  79800.0
2021-07-23  79300.0  79900.0

[388 rows x 2 columns]

In [16]:
df.head(3)

               High      Low     Open    Close      Volume     Adj Close
Date
2020-01-02  56000.0  55000.0  55500.0  55200.0  12993228.0  52537.179688
2020-01-03  56600.0  54900.0  56000.0  55500.0  15422255.0  52822.707031
2020-01-06  55600.0  54600.0  54900.0  55500.0  10278951.0  52822.707031

In [17]:
df[df['Open']<df['Close']]

               High      Low     Open    Close      Volume     Adj Close
Date
2020-01-06  55600.0  54600.0  54900.0  55500.0  10278951.0  52822.707031
2020-01-07  56400.0  55600.0  55700.0  55800.0  10009778.0  53108.238281
2020-01-08  57400.0  55900.0  56200.0  56800.0  23501171.0  54059.992188
2020-01-09  58600.0  57400.0  58400.0  58600.0  24102579.0  55773.164062
2020-01-10  59700.0  58300.0  58800.0  59500.0  16000170.0  56629.746094
...             ...      ...      ...      ...         ...           ...
2021-07-06  81200.0  80500.0  80600.0  81200.0  12131651.0  81200.000000
2021-07-14  79600.0  79100.0  79400.0  79500.0  11575636.0  79500.000000
2021-07-15  80600.0  79500.0  79800.0  80600.0  13766279.0  80600.000000
2021-07-20  79000.0  78400.0  78500.0  79000.0  12456646.0  79000.000000
2021-07-22  79800.0  78900.0  79000.0  79700.0  12618790.0  79700.000000

[172 rows x 6 columns]

In [19]:
df[df['Close']==df['Close'].max()]

               High      Low     Open    Close      Volume     Adj Close
Date
2021-01-11  96800.0  89500.0  90000.0  91000.0  90306177.0  90597.414062

In [29]:
df[df['Close']>=90000].index

DatetimeIndex(['2021-01-11', '2021-01-12'], dtype='datetime64[ns]', name='Date', freq=None)

In [31]:
df[df.index=="2021-01-15"]

               High      Low     Open    Close      Volume   Adj Close
Date
2021-01-15  91800.0  88000.0  89800.0  88000.0  33431809.0  87610.6875

In [32]:
df[df.index=="2021-01-11"][['High','Low']]

               High      Low
Date
2021-01-11  96800.0  89500.0

In [35]:
df.iloc[100]

High         5.070000e+04
Low          4.970000e+04
Open         5.000000e+04
Close        5.070000e+04
Volume       2.759696e+07
Adj Close    4.861053e+04
Name: 2020-05-29 00:00:00, dtype: float64

In [43]:
df.sort_index(ascending=False)

               High      Low     Open    Close      Volume     Adj Close
Date
2021-07-23  79900.0  79200.0  79700.0  79300.0   9098910.0  79300.000000
2021-07-22  79800.0  78900.0  79000.0  79700.0  12618790.0  79700.000000
2021-07-21  79100.0  78500.0  79000.0  78500.0  12355296.0  78500.000000
2021-07-20  79000.0  78400.0  78500.0  79000.0  12456646.0  79000.000000
2021-07-19  79200.0  78800.0  79100.0  79000.0  13155414.0  79000.000000
...             ...      ...      ...      ...         ...           ...
2020-01-08  57400.0  55900.0  56200.0  56800.0  23501171.0  54059.992188
2020-01-07  56400.0  55600.0  55700.0  55800.0  10009778.0  53108.238281
2020-01-06  55600.0  54600.0  54900.0  55500.0  10278951.0  52822.707031
2020-01-03  56600.0  54900.0  56000.0  55500.0  15422255.0  52822.707031
2020-01-02  56000.0  55000.0  55500.0  55200.0  12993228.0  52537.179688

[388 rows x 6 columns]

In [47]:
df['Close'].sort_values(ascending=False)

Date
2021-01-11    91000.0
2021-01-12    90600.0
2021-01-13    89700.0
2021-01-14    89700.0
2021-01-25    89400.0
               ...
2020-04-01    45800.0
2020-03-18    45600.0
2020-03-20    45400.0
2020-03-19    42950.0
2020-03-23    42500.0
Name: Close, Length: 388, dtype: float64

In [73]:
df['Date']=df.index

In [79]:
df=df.rename(columns={'Date':'날짜','High':'고가','Low':'저가'})

In [80]:
df.drop('날짜',axis=1)

                 고가       저가     Open    Close      Volume     Adj Close
Date
2020-01-02  56000.0  55000.0  55500.0  55200.0  12993228.0  52537.179688
2020-01-03  56600.0  54900.0  56000.0  55500.0  15422255.0  52822.707031
2020-01-06  55600.0  54600.0  54900.0  55500.0  10278951.0  52822.707031
2020-01-07  56400.0  55600.0  55700.0  55800.0  10009778.0  53108.238281
2020-01-08  57400.0  55900.0  56200.0  56800.0  23501171.0  54059.992188
...             ...      ...      ...      ...         ...           ...
2021-07-19  79200.0  78800.0  79100.0  79000.0  13155414.0  79000.000000
2021-07-20  79000.0  78400.0  78500.0  79000.0  12456646.0  79000.000000
2021-07-21  79100.0  78500.0  79000.0  78500.0  12355296.0  78500.000000
2021-07-22  79800.0  78900.0  79000.0  79700.0  12618790.0  79700.000000
2021-07-23  79900.0  79200.0  79700.0  79300.0   9098910.0  79300.000000

[388 rows x 6 columns]

In [82]:
df['diff']=df['Close']-df['Open']

In [83]:
df

,고가,저가,Open,Close,Volume,Adj Close,날짜,diff
Date,,,,,,,,
2020-01-02,56000.0,55000.0,55500.0,55200.0,12993228.0,52537.179688,2020-01-02,-300.0
2020-01-03,56600.0,54900.0,56000.0,55500.0,15422255.0,52822.707031,2020-01-03,-500.0
2020-01-06,55600.0,54600.0,54900.0,55500.0,10278951.0,52822.707031,2020-01-06,600.0
2020-01-07,56400.0,55600.0,55700.0,55800.0,10009778.0,53108.238281,2020-01-07,100.0
2020-01-08,57400.0,55900.0,56200.0,56800.0,23501171.0,54059.992188,2020-01-08,600.0
...,...,...,...,...,...,...,...,...
2021-07-19,79200.0,78800.0,79100.0,79000.0,13155414.0,79000.000000,2021-07-19,-100.0
2021-07-20,79000.0,78400.0,78500.0,79000.0,12456646.0,79000.000000,2021-07-20,500.0
2021-07-21,79100.0,78500.0,79000.0,78500.0,12355296.0,78500.000000,2021-07-21,-500.0
2021-07-22,79800.0,78900.0,79000.0,79700.0,12618790.0,79700.000000,2021-07-22,700.0
2021-07-23,79900.0,79200.0,79700.0,79300.0,9098910.0,79300.000000,2021-07-23,-400.0

In [88]:
df['year']=[d.year for d in df['날짜']]

In [89]:
df['month']=[d.month for d in df['날짜']]
df['day']=[d.day for d in df['날짜']]

In [90]:
df

,고가,저가,Open,Close,Volume,Adj Close,날짜,diff,year,month,day
Date,,,,,,,,,,,
2020-01-02,56000.0,55000.0,55500.0,55200.0,12993228.0,52537.179688,2020-01-02,-300.0,2020,1,2
2020-01-03,56600.0,54900.0,56000.0,55500.0,15422255.0,52822.707031,2020-01-03,-500.0,2020,1,3
2020-01-06,55600.0,54600.0,54900.0,55500.0,10278951.0,52822.707031,2020-01-06,600.0,2020,1,6
2020-01-07,56400.0,55600.0,55700.0,55800.0,10009778.0,53108.238281,2020-01-07,100.0,2020,1,7
2020-01-08,57400.0,55900.0,56200.0,56800.0,23501171.0,54059.992188,2020-01-08,600.0,2020,1,8
...,...,...,...,...,...,...,...,...,...,...,...
2021-07-19,79200.0,78800.0,79100.0,79000.0,13155414.0,79000.000000,2021-07-19,-100.0,2021,7,19
2021-07-20,79000.0,78400.0,78500.0,79000.0,12456646.0,79000.000000,2021-07-20,500.0,2021,7,20
2021-07-21,79100.0,78500.0,79000.0,78500.0,12355296.0,78500.000000,2021-07-21,-500.0,2021,7,21
2021-07-22,79800.0,78900.0,79000.0,79700.0,12618790.0,79700.000000,2021-07-22,700.0,2021,7,22
2021-07-23,79900.0,79200.0,79700.0,79300.0,9098910.0,79300.000000,2021-07-23,-400.0,2021,7,23

In [95]:
df['거래량'] = df['Volume'].apply(lambda x : "{:,}".format(x))

In [96]:
df

,고가,저가,Open,Close,Volume,Adj Close,날짜,diff,year,month,day,거래량
Date,,,,,,,,,,,,
2020-01-02,56000.0,55000.0,55500.0,55200.0,12993228.0,52537.179688,2020-01-02,-300.0,2020,1,2,"12,993,228.0"
2020-01-03,56600.0,54900.0,56000.0,55500.0,15422255.0,52822.707031,2020-01-03,-500.0,2020,1,3,"15,422,255.0"
2020-01-06,55600.0,54600.0,54900.0,55500.0,10278951.0,52822.707031,2020-01-06,600.0,2020,1,6,"10,278,951.0"
2020-01-07,56400.0,55600.0,55700.0,55800.0,10009778.0,53108.238281,2020-01-07,100.0,2020,1,7,"10,009,778.0"
2020-01-08,57400.0,55900.0,56200.0,56800.0,23501171.0,54059.992188,2020-01-08,600.0,2020,1,8,"23,501,171.0"
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-19,79200.0,78800.0,79100.0,79000.0,13155414.0,79000.000000,2021-07-19,-100.0,2021,7,19,"13,155,414.0"
2021-07-20,79000.0,78400.0,78500.0,79000.0,12456646.0,79000.000000,2021-07-20,500.0,2021,7,20,"12,456,646.0"
2021-07-21,79100.0,78500.0,79000.0,78500.0,12355296.0,78500.000000,2021-07-21,-500.0,2021,7,21,"12,355,296.0"
2021-07-22,79800.0,78900.0,79000.0,79700.0,12618790.0,79700.000000,2021-07-22,700.0,2021,7,22,"12,618,790.0"
2021-07-23,79900.0,79200.0,79700.0,79300.0,9098910.0,79300.000000,2021-07-23,-400.0,2021,7,23,"9,098,910.0"

In [107]:
volume_mean = df['Volume'].groupby(df['month']).mean()
volume_mean

month
1     2.713407e+07
2     2.086738e+07
3     2.649870e+07
4     1.897715e+07
5     1.911778e+07
6     1.933043e+07
7     1.627012e+07
8     2.008490e+07
9     2.030011e+07
10    1.723988e+07
11    2.363959e+07
12    2.523804e+07
Name: Volume, dtype: float64

In [108]:
df.isnull().sum()

고가           0
저가           0
Open         0
Close        0
Volume       0
Adj Close    0
날짜           0
diff         0
year         0
month        0
day          0
거래량          0
dtype: int64

In [109]:
df.dropna()

,고가,저가,Open,Close,Volume,Adj Close,날짜,diff,year,month,day,거래량
Date,,,,,,,,,,,,
2020-01-02,56000.0,55000.0,55500.0,55200.0,12993228.0,52537.179688,2020-01-02,-300.0,2020,1,2,"12,993,228.0"
2020-01-03,56600.0,54900.0,56000.0,55500.0,15422255.0,52822.707031,2020-01-03,-500.0,2020,1,3,"15,422,255.0"
2020-01-06,55600.0,54600.0,54900.0,55500.0,10278951.0,52822.707031,2020-01-06,600.0,2020,1,6,"10,278,951.0"
2020-01-07,56400.0,55600.0,55700.0,55800.0,10009778.0,53108.238281,2020-01-07,100.0,2020,1,7,"10,009,778.0"
2020-01-08,57400.0,55900.0,56200.0,56800.0,23501171.0,54059.992188,2020-01-08,600.0,2020,1,8,"23,501,171.0"
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-19,79200.0,78800.0,79100.0,79000.0,13155414.0,79000.000000,2021-07-19,-100.0,2021,7,19,"13,155,414.0"
2021-07-20,79000.0,78400.0,78500.0,79000.0,12456646.0,79000.000000,2021-07-20,500.0,2021,7,20,"12,456,646.0"
2021-07-21,79100.0,78500.0,79000.0,78500.0,12355296.0,78500.000000,2021-07-21,-500.0,2021,7,21,"12,355,296.0"
2021-07-22,79800.0,78900.0,79000.0,79700.0,12618790.0,79700.000000,2021-07-22,700.0,2021,7,22,"12,618,790.0"
2021-07-23,79900.0,79200.0,79700.0,79300.0,9098910.0,79300.000000,2021-07-23,-400.0,2021,7,23,"9,098,910.0"

In [110]:
dec_df = df[df['month']==12]
nov_df = df[df['month']==11]

In [111]:
plus_df = pd.concat([nov_df,dec_df])

In [113]:
plus_df

,고가,저가,Open,Close,Volume,Adj Close,날짜,diff,year,month,day,거래량
Date,,,,,,,,,,,,
2020-11-02,57500.0,56000.0,56400.0,57400.0,20489076.0,55743.183594,2020-11-02,1000.0,2020,11,2,"20,489,076.0"
2020-11-03,58900.0,57600.0,57900.0,58800.0,14950919.0,57102.777344,2020-11-03,900.0,2020,11,3,"14,950,919.0"
2020-11-04,59000.0,57800.0,58900.0,58500.0,21718561.0,56811.433594,2020-11-04,-400.0,2020,11,4,"21,718,561.0"
2020-11-05,60300.0,58800.0,59000.0,60300.0,20639475.0,58559.480469,2020-11-05,1300.0,2020,11,5,"20,639,475.0"
2020-11-06,60800.0,59600.0,60700.0,60100.0,16910230.0,58365.253906,2020-11-06,-600.0,2020,11,6,"16,910,230.0"
2020-11-09,60900.0,60100.0,60700.0,60200.0,15892961.0,58462.363281,2020-11-09,-500.0,2020,11,9,"15,892,961.0"
2020-11-10,60500.0,59500.0,60500.0,60200.0,19073552.0,58462.363281,2020-11-10,-300.0,2020,11,10,"19,073,552.0"
2020-11-11,61400.0,60400.0,60700.0,61300.0,25628510.0,59530.613281,2020-11-11,600.0,2020,11,11,"25,628,510.0"
2020-11-12,61400.0,60700.0,61000.0,61000.0,19800573.0,59239.273438,2020-11-12,0.0,2020,11,12,"19,800,573.0"
2020-11-13,63200.0,61000.0,61300.0,63200.0,31508829.0,61375.773438,2020-11-13,1900.0,2020,11,13,"31,508,829.0"
2020-11-16,66700.0,63900.0,64000.0,66300.0,36354334.0,64386.292969,2020-11-16,2300.0,2020,11,16,"36,354,334.0"
2020-11-17,67000.0,65600.0,67000.0,65700.0,30204089.0,63803.609375,2020-11-17,-1300.0,2020,11,17,"30,204,089.0"
2020-11-18,66200.0,64700.0,65700.0,64800.0,22963790.0,62929.585938,2020-11-18,-900.0,2020,11,18,"22,963,790.0"
2020-11-19,64800.0,63900.0,64100.0,64600.0,16590290.0,62735.359375,2020-11-19,500.0,2020,11,19,"16,590,290.0"
2020-11-20,65200.0,63900.0,63900.0,64700.0,15068682.0,62832.476562,2020-11-20,800.0,2020,11,20,"15,068,682.0"
2020-11-23,67800.0,64700.0,64800.0,67500.0,27134398.0,65551.656250,2020-11-23,2700.0,2020,11,23,"27,134,398.0"
2020-11-24,69500.0,67000.0,67900.0,67700.0,32158235.0,65745.882812,2020-11-24,-200.0,2020,11,24,"32,158,235.0"
2020-11-25,68300.0,66500.0,67900.0,66600.0,32447065.0,64677.632812,2020-11-25,-1300.0,2020,11,25,"32,447,065.0"
2020-11-26,68000.0,66000.0,66100.0,68000.0,19023323.0,66037.218750,2020-11-26,1900.0,2020,11,26,"19,023,323.0"
2020-11-27,68400.0,67600.0,68000.0,68200.0,14063434.0,66231.453125,2020-11-27,200.0,2020,11,27,"14,063,434.0"
2020-11-30,68600.0,66700.0,68400.0,66700.0,43811016.0,64774.746094,2020-11-30,-1700.0,2020,11,30,"43,811,016.0"
2020-12-01,68300.0,67100.0,67100.0,67800.0,22327173.0,65842.992188,2020-12-01,700.0,2020,12,1,"22,327,173.0"
2020-12-02,69900.0,68300.0,68400.0,69500.0,29703942.0,67493.929688,2020-12-02,1100.0,2020,12,2,"29,703,942.0"
2020-12-03,70500.0,69300.0,70100.0,69700.0,23677989.0,67688.148438,2020-12-03,-400.0,2020,12,3,"23,677,989.0"
2020-12-04,72100.0,70100.0,70400.0,71500.0,28130533.0,69436.195312,2020-12-04,1100.0,2020,12,4,"28,130,533.0"
2020-12-07,73500.0,71900.0,72400.0,72900.0,28490496.0,70795.789062,2020-12-07,500.0,2020,12,7,"28,490,496.0"
2020-12-08,72900.0,71600.0,72200.0,71700.0,25000338.0,69630.429688,2020-12-08,-500.0,2020,12,8,"25,000,338.0"
2020-12-09,73900.0,72000.0,72100.0,73900.0,24077996.0,71766.921875,2020-12-09,1800.0,2020,12,9,"24,077,996.0"
2020-12-10,73800.0,72500.0,72700.0,72900.0,39882928.0,70795.789062,2020-12-10,200.0,2020,12,10,"39,882,928.0"
2020-12-11,73800.0,73100.0,73500.0,73400.0,18486672.0,71281.359375,2020-12-11,-100.0,2020,12,11,"18,486,672.0"
2020-12-14,74500.0,73200.0,73600.0,73800.0,21510415.0,71669.812500,2020-12-14,200.0,2020,12,14,"21,510,415.0"
2020-12-15,74100.0,73300.0,73800.0,73800.0,20863671.0,71669.812500,2020-12-15,0.0,2020,12,15,"20,863,671.0"
2020-12-16,74500.0,73400.0,74100.0,73800.0,17512081.0,71669.812500,2020-12-16,-300.0,2020,12,16,"17,512,081.0"
2020-12-17,73700.0,72600.0,73400.0,73300.0,24293214.0,71184.242188,2020-12-17,-100.0,2020,12,17,"24,293,214.0"
2020-12-18,73700.0,73000.0,73300.0,73000.0,17613029.0,70892.906250,2020-12-18,-300.0,2020,12,18,"17,613,029.0"
2020-12-21,73400.0,72000.0,73100.0,73000.0,20367355.0,70892.906250,2020-12-21,-100.0,2020,12,21,"20,367,355.0"
2020-12-22,73200.0,72100.0,72500.0,72300.0,16304910.0,70213.101562,2020-12-22,-200.0,2020,12,22,"16,304,910.0"
2020-12-23,74000.0,72300.0,72400.0,73900.0,19411326.0,71766.921875,2020-12-23,1500.0,2020,12,23,"19,411,326.0"
2020-12-24,78800.0,74000.0,74100.0,77800.0,32502870.0,75554.351562,2020-12-24,3700.0,2020,12,24,"32,502,870.0"
2020-12-28,80100.0,78200.0,79000.0,78700.0,40085044.0,76428.375000,2020-12-28,-300.0,2020,12,28,"40,085,044.0"
2020-12-29,78900.0,77300.0,78800.0,78300.0,30339449.0,77953.601562,2020-12-29,-500.0,2020,12,29,"30,339,449.0"
2020-12-30,81300.0,77300.0,77400.0,81000.0,29417421.0,80641.656250,2020-12-30,3600.0,2020,12,30,"29,417,421.0"